body, div, p, ul, li, table, tr, td, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #222;
}

b {
  font-weight: 600;
}

h2 {
  padding: 15px 0 5px;
}

p, ul {
  line-height: 23px;
}

.math {
  font-family: Inconsolata, Courier, monospace;
  font-weight: 700;
}
.question {
  color: #666;
  background: #efebce;
  padding: 0 4px 1px;
  border-bottom: 1px dotted #999;
  border-radius: 5px;
  cursor: pointer;
}
.question:hover {
  color: #222;
  border-bottom: 1px solid #666;
}
.answer {
  color: #ccc;
}

#wrapper {
  background: #fff;
  padding: 20px 40px;
}

ul {
  list-style: none;
}

#layout {
  margin: 10px 0;
}
#button {
  display: inline;
  cursor: pointer;
  position: relative;
  border: 1px solid #000;
}
#button .option {
  display: inline;
  padding: 2px 6px;
  position: absolute;
  left: 0;
}
#button .option.dead {
  background: #fff;
  color: #888;
}
#button .option.live {
  background: #ddd;
  color: #000;
}

table {
  padding-right: 20px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

td {
  padding-top: 1px;
  padding-bottom: 2px;
  height: 35px;
  width: 150px;
  padding-left: 10px;
  position: relative;
  font-size: 12px;
}
table.board td {
  height: 45px;
}
td.date {
  font-size: 13px;
}
table.vertical td.winner {
  border-bottom: 8px solid #fff;
}
table.horizontal td.winner {
  border-right: 8px solid #fff;
}
td.winner .team {
  font-weight: 700;
}
table.vertical td {
  border-right: 20px solid #fff;
}
table.horizontal td {
  border-bottom: 10px solid #fff;
}
td .boats {
  position: absolute;
  right: 10px;
}
table.board td .boats {
  left: 10px;
  bottom: 6px;
}
td .score {
  position: absolute;
  right: 10px;
  bottom: 6px;
}
td span.boats {
  color: #000;
}

td a {
  text-decoration: none;
  color: #335db2;
}
td a:hover {
  background: #ffc;
  color: #911d1d;
}

