* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #222;
}

#wrapper {
  background: #fff;
  padding: 20px 40px;
}

b {
  font-weight: 600;
}

h2, h3 {
  padding: 20px 0 10px;
}

p, ul {
  line-height: 23px;
}

.math {
  font-family: Inconsolata, Courier, monospace;
  font-weight: 700;
}
.toggle {
  color: #666;
  background: #efebce;
  padding: 0 4px 1px;
  border-bottom: 1px dotted #999;
  border-radius: 5px;
  cursor: pointer;
}
.toggle.hide {
  border-top: 1px dotted #999;
  border-bottom: none;
}
.toggle.hide:hover {
  border-top: 1px solid #666;
  border-bottom: none;
}
.toggle:hover {
  color: #222;
  border-bottom: 1px solid #666;
}
.infoBox {
  border: 2px solid #e8e6d4;
  background: #f7f5e8;
  margin: 5px 0;
  padding: 5px 10px;
  display: none;
}
.infoBox.show {
  display: block;
}

ul {
  list-style: none;
}

#layout {
  margin: 20px 0 30px;
  position: relative;
}
#layout .option {
  display: inline;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
}
#layout .option.dummy {
  position: relative;
}
#layout .option.live {
  background: #dde5ea;
  color: #000;
}
#layout .option.dead.glow {
  background: #ecead6;
}
#layout .option.dead {
  background: #fff;
  color: #2b4b84;
}

table {
  padding-right: 20px;
}

table.board {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

table.board td {
  padding-top: 1px;
  padding-bottom: 2px;
  height: 35px;
  width: 160px;
  padding-left: 10px;
  position: relative;
  font-size: 12px;
  height: 45px;
}
td.date {
  font-size: 13px;
}
table.vertical td.winner {
  border-bottom: 8px solid #fff;
}
table.horizontal td.winner {
  border-right: 8px solid #fff;
}
td.winner .team {
  font-weight: 700;
}
table.vertical td {
  border-right: 20px solid #fff;
}
table.horizontal td {
  border-bottom: 10px solid #fff;
}
.tally {
  font-size: 13px;
  padding: 2px 26px 2px 6px;
  position: relative;
}
td .boats {
  position: absolute;
  right: 6px;
  top: 2px;
}
table.board td .boats {
  left: 10px;
  bottom: 6px;
}
td .score {
  position: absolute;
  right: 10px;
  bottom: 6px;
}
td span.boats {
  color: #000;
}

#button {
  margin: 5px;
  color: #333;
  cursor: pointer;
}
#button span {
  padding: 2px 8px 4px;
  border: 2px solid #666;
}
#button #horizontal {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
#button #vertical {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}
#button .dead {
  color: #fff;
  background: #666;
}
#button:hover .dead {
  background: #222;
}

td a {
  text-decoration: none;
  color: #335db2;
}
td a:hover {
  background: #ffc;
  color: #911d1d;
}

#functionChart canvas {
  background: transparent;
  margin: 25px 0 15px;
  position: relative;
  left: 50px;
}
#functionChart {
  position: relative;
}
#functionChart span.label {
  position: absolute;
  font-family: Inconsolata;
}

table.summary {
  border-collapse: collapse;
  font-size: 15px;
}

.summary td {
  padding-right: 15px;
}

.summary td.number {
  font-family: Inconsolata, Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.summary td.header {
  font-size: 13px;
  text-align: right;
}
.summary td.header.chart {
  text-align: left;
  padding-left: 25px;
}

.summary canvas {
  margin-left: 25px;
  border: 1px solid #ccc;
  background: #fff;
}


